/**
 * App Specific Settings
 */
@media screen and (max-width: 960px) {
  html body .header .nav {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    left: 100vw;
    position: fixed;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 1s -webkit-transform ease;
    transition: 1s -webkit-transform ease;
    transition: 1s transform ease;
    transition: 1s transform ease, 1s -webkit-transform ease; }
    html body .header .nav.active {
      -webkit-transform: translateX(-80%);
          -ms-transform: translateX(-80%);
              transform: translateX(-80%); }
    html body .header .nav .menu-btn {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      color: #FFF;
      height: 10px;
      width: 50px;
      background: #440000;
      position: absolute;
      left: 0; }
    html body .header .nav a {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; }
      html body .header .nav a::before {
        display: none; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%; }
  body .header {
    width: 100%;
    background-size: cover;
    height: 100vh; }
    body .header video {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      min-width: 100%;
      min-height: 100%;
      z-index: -100;
      background-position: center;
      background-size: cover; }
    body .header h1 {
      text-align: center;
      position: relative;
      top: 40%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      color: #fff;
      font-family: arial;
      font-size: 5em;
      margin: 0;
      min-height: 92px; }
    body .header h2 {
      text-align: center;
      position: relative;
      top: 40%;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 0;
      color: #fff;
      font-family: arial;
      font-size: 3em;
      margin: 0;
      text-shadow: 3px 3px 100px #000;
      -webkit-animation: 1.5s cubic-bezier(0.19, 1, 0.22, 1) 2s 1 normal forwards running fade-in-h2;
              animation: 1.5s cubic-bezier(0.19, 1, 0.22, 1) 2s 1 normal forwards running fade-in-h2; }

@-webkit-keyframes fade-in-h2 {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1; } }

@keyframes fade-in-h2 {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1; } }
    body .header .nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: auto; }
      body .header .nav a {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-box-shadow: 0 0 1px transparent;
                box-shadow: 0 0 1px transparent;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.1s;
                transition-duration: 0.1s;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
        text-align: center;
        color: #fff;
        border-left: 1px solid #fff;
        padding: 20px 0;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none; }
        body .header .nav a.first-link {
          border-left: 0; }
        body .header .nav a.last-link {
          border-right: 0;
          margin-right: 3px; }
      body .header .nav a:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #e0c200;
        color: #fff;
        -webkit-transform: scaleY(0);
            -ms-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
            -ms-transform-origin: 50% 0;
                transform-origin: 50% 0;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.1s;
                transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out; }
      body .header .nav a:hover, body .header .nav a:focus, body .header .nav a:active {
        color: #fff; }
      body .header .nav a:hover:before, body .header .nav a:focus:before, body .header .nav a:active:before {
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1); }
  body .pull-down {
    text-align: center; }
    body .pull-down img {
      position: absolute;
      width: 10px;
      margin-left: -6px;
      margin-top: -26px; }
  body .content {
    -webkit-box-shadow: 0 2px 50px 4px rgba(40, 30, 20, 0.7);
            box-shadow: 0 2px 50px 4px rgba(40, 30, 20, 0.7); }
    body .content.home {
      background: url("../img/background.jpg") center;
      background-size: cover; }
    body .content .introduction {
      margin: auto;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      padding: 80px 20px; }
      body .content .introduction.design {
        background: url("../img/photography-bg.jpg") center;
        background-size: cover; }
    body .content .skills {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      background-size: 100% auto;
      -webkit-box-shadow: inset 0 2px 50px 4px rgba(40, 30, 20, 0.7);
              box-shadow: inset 0 2px 50px 4px rgba(40, 30, 20, 0.7); }
      body .content .skills .skill {
        text-align: center;
        -webkit-box-flex: 1;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
        font-family: Arial, Helvetica, sans-serif;
        padding: 50px 0;
        color: #fff;
        margin: auto;
        max-width: 290px; }
        body .content .skills .skill img {
          width: 60px;
          margin-right: -6px; }
          body .content .skills .skill img.last-image {
            width: 47px; }
        body .content .skills .skill p {
          max-width: 290px;
          margin: auto; }
    body .content .closing .closing-content {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      font-family: Arial, Helvetica, sans-serif; }
      body .content .closing .closing-content .left {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        background: url("../img/small-bg.jpg");
        background-size: cover; }
        body .content .closing .closing-content .left h1 {
          font-size: 3em;
          max-width: 370px;
          margin: auto;
          padding: 50px 0; }
      body .content .closing .closing-content .right {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        background: url("../img/small-bg2.jpg");
        background-size: cover; }
        body .content .closing .closing-content .right .experience-display {
          text-align: center; }
          body .content .closing .closing-content .right .experience-display a {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
                    transform: translateZ(0);
            -webkit-box-shadow: 0 0 1px transparent;
                    box-shadow: 0 0 1px transparent;
            -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
            overflow: hidden;
            -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
            -webkit-transition-property: color, background-color;
            transition-property: color, background-color;
            padding: 20px 50px 20px 50px;
            background: #e0c200;
            border-radius: 10px;
            text-align: center;
            margin-top: -70px;
            color: #fff;
            text-decoration: none; }
            body .content .closing .closing-content .right .experience-display a .experience-btn {
              color: #fff; }
          body .content .closing .closing-content .right .experience-display a:hover, body .content .closing .closing-content .right .experience-display a:focus, body .content .closing .closing-content .right .experience-display a:active {
            background-color: #fff;
            color: #000; }
            body .content .closing .closing-content .right .experience-display a:hover .experience-btn, body .content .closing .closing-content .right .experience-display a:focus .experience-btn, body .content .closing .closing-content .right .experience-display a:active .experience-btn {
              color: #000; }
        body .content .closing .closing-content .right p {
          max-width: 480px;
          margin: auto;
          padding: 80px 0; }
    body .content .photographs {
      background: url("../img/gallery-bg.jpg"); }
      body .content .photographs .photos {
        max-width: 970px;
        margin: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        body .content .photographs .photos .row {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; }
        body .content .photographs .photos a {
          text-decoration: none; }
          body .content .photographs .photos a button {
            border: 5px solid transparent;
            background-color: #000;
            color: #FFF;
            overflow: hidden;
            width: 200px;
            -webkit-transition: all        1.2s, border     0.5s 1.2s, -webkit-box-shadow 0.3s 1.5s;
            transition: all        1.2s, border     0.5s 1.2s, -webkit-box-shadow 0.3s 1.5s;
            transition: all        1.2s, border     0.5s 1.2s, box-shadow 0.3s 1.5s;
            transition: all        1.2s, border     0.5s 1.2s, box-shadow 0.3s 1.5s, -webkit-box-shadow 0.3s 1.5s;
            white-space: nowrap;
            text-indent: 50px;
            font-weight: bold;
            cursor: pointer;
            padding: 5px 30px; }
            body .content .photographs .photos a button span {
              display: inline-block;
              -webkit-transform: translateX(300px);
                  -ms-transform: translateX(300px);
                      transform: translateX(300px);
              font-weight: normal;
              opacity: 0;
              -webkit-transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
              transition: opacity 0.1s 0.5s, -webkit-transform 0.4s 0.5s;
              transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
              transition: opacity 0.1s 0.5s, transform 0.4s 0.5s, -webkit-transform 0.4s 0.5s; }
            body .content .photographs .photos a button:hover {
              text-indent: 0;
              background: #e0c200;
              color: #fff;
              width: 500px;
              border: 5px solid #fff;
              -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
                      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
              border-radius: 40px;
              padding: 15px 30px;
              margin: 0 10px; }
              body .content .photographs .photos a button:hover span {
                -webkit-transform: translateX(0);
                    -ms-transform: translateX(0);
                        transform: translateX(0);
                opacity: 1; }
        body .content .photographs .photos .photo {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          background: #FFE8A3;
          font-family: 'Montserrat', sans-serif;
          height: 200px; }
          body .content .photographs .photos .photo.image1 {
            background: url("../img/image1-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
          body .content .photographs .photos .photo.image2 {
            background: url("../img/image2-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
          body .content .photographs .photos .photo.image3 {
            background: url("../img/image3-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
          body .content .photographs .photos .photo.image4 {
            background: url("../img/image4-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
          body .content .photographs .photos .photo.image5 {
            background: url("../img/image5-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
          body .content .photographs .photos .photo.image6 {
            background: url("../img/image6-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
          body .content .photographs .photos .photo.image7 {
            background: url("../img/image7-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
          body .content .photographs .photos .photo.image8 {
            background: url("../img/image8-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
          body .content .photographs .photos .photo.image9 {
            background: url("../img/image9-hover.jpg") no-repeat;
            background-size: cover;
            background-position: center; }
    body .content .gallery-image-display {
      background: #000;
      height: 100vh; }
      body .content .gallery-image-display h2 {
        margin: 0;
        padding: 20px;
        color: #fff;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif; }
      body .content .gallery-image-display img {
        width: 100%; }

@media (max-width: 960px) {
  body .content .photographs .photos .row {
    width: 100%; }
  body .content .photographs .photos .photo {
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media (max-width: 525px) {
  body .header h1 {
    font-size: 3em;
    top: 35% !important; }
  body .header h2 {
    font-size: 2em;
    top: 25% !important; }
  body .header .nav a {
    font-size: 0.8em; } }
