@media screen and (max-width: 960px) {html {
	body {
		.header {
			.nav {
				flex-wrap: wrap;
				left: 100vw;
				position: fixed;
				transform: translateX(0);
				transition: 1s transform ease;

				&.active {
					transform: translateX(-80%);
				}

				.menu-btn {
					transform: translateX(-100%);
					color: #FFF;
					height: 10px;
					width: 50px;
					background: #440000;
					position: absolute;
					left: 0;
				}

				a {
					flex: 0 0 100%;

					&::before {
						display: none;
					}
				}
			}
		}
	}
}}