/**
 * App Specific Settings
 */

$primary: #349922;
$secondary: #404540;
$tertiary: #252525;

$sans: Arial, Helvetica, sans-serif;
$serif: Times New Roman, Georgia, serif;

$expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	margin: 0;
	width: 100%;

	.header {
		width: 100%;
		background-size: cover;
		height: 100vh;

		&.home { background: url("../img/background3-bw.jpg") center; background-size: cover; }
		&.design { background: url("../img/masthead-design.jpg") center; background-size: cover; }

		h1 {
			text-align: center;
			position: relative;
			top: 40%;
			transform: translateY(-50%);
			color: #fff;
			font-family: arial;
			font-size: 5em;
			margin: 0;
			min-height: 92px;
		}

		h2 {
			@keyframes fade-in-h2 {
				from {
					transform: translateY(-100%);
					opacity: 0;
				}
				to {
					transform: translateY(-50%);
					opacity: 1;
				}
			}

			text-align: center;
			position: relative;
			top: 40%;
			transform: translateY(-100%);
			opacity: 0;
			color: #fff;
			font-family: arial;
			font-size: 3em;
			margin: 0;
			text-shadow: 3px 3px 100px #000;
			animation: 1.5s $expo 2s 1 normal forwards running fade-in-h2;
		}

		.nav {
			display: flex;
			width: 100%;
			justify-content: center;
			margin: auto;

			a {
				display: inline-block;
				vertical-align: middle;
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				box-shadow: 0 0 1px rgba(0, 0, 0, 0);
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-osx-font-smoothing: grayscale;
				position: relative;
				-webkit-transition-property: color;
				transition-property: color;
				-webkit-transition-duration: 0.1s;
				transition-duration: 0.1s;
			    flex: 0 0 25%;
				text-align: center;
				color: #fff;
				border-left: 1px solid #fff;
				padding: 20px 0;
				font-family: $sans;
				text-decoration: none;

				&.first-link {
					border-left: 0;
				}

				&.last-link {
					border-right: 0;
					margin-right: 3px;
				}
			}

			a:before {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: #e0c200;
				color: #fff;
				-webkit-transform: scaleY(0);
				transform: scaleY(0);
				-webkit-transform-origin: 50% 0;
				transform-origin: 50% 0;
				-webkit-transition-property: transform;
				transition-property: transform;
				-webkit-transition-duration: 0.1s;
				transition-duration: 0.1s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}

			a:hover, a:focus, a:active {
				color: #fff;
			}

			a:hover:before, a:focus:before, a:active:before {
				-webkit-transform: scaleY(1);
				transform: scaleY(1);
			}
		}
	}

	.pull-down {
		text-align: center;

		img {
			position: absolute;
			width: 10px;
			margin-left: -6px;
			margin-top: -26px;
		}
	}

	.content {

		&.home { background: url("../img/background.jpg") center; background-size: cover; }
		&.design { background: url('../img/photography-bg.jpg') center; background-size: cover; }

		.introduction {
			max-width: 870px;
			margin: auto;
			text-align: center;
			font-family: $sans;
			padding: 80px 20px;
		}

		.skills {
			display: flex;
			flex-wrap: wrap;
			background-size: 100% auto;
			
			.skill {
				text-align: center;
				flex: auto;
				font-family: $sans;
				padding: 50px 0;
				color: #fff;
				margin: auto;
				max-width: 290px;

				img {
					width: 60px;
					margin-right: -6px;

					&.last-image {
						width: 47px;
					}
				}

				p {
					max-width: 290px;
					margin: auto;
				}
			}
		}

		.closing {
			.closing-content {
				justify-content: center;
				display: flex;
				flex-wrap: wrap;
				font-family: $sans;

				.left {
					flex: 0 0 50%;
					background: url('../img/small-bg.jpg');
					background-size: cover;

					h1 {
						font-size: 3em;
						max-width: 370px;
						margin: auto;
						padding: 50px 0;
					}
				}

				.right {
					flex: 0 0 50%;
					background: url('../img/small-bg2.jpg');
					background-size: cover;

					.experience-display {
						text-align: center;

						a {
							display: inline-block;
							vertical-align: middle;
							-webkit-transform: translateZ(0);
							transform: translateZ(0);
							box-shadow: 0 0 1px rgba(0, 0, 0, 0);
							-webkit-backface-visibility: hidden;
							backface-visibility: hidden;
							-moz-osx-font-smoothing: grayscale;
							overflow: hidden;
							-webkit-transition-duration: 0.3s;
							transition-duration: 0.3s;
							-webkit-transition-property: color, background-color;
							transition-property: color, background-color;
							padding: 20px 50px 20px 50px;
							background: #e0c200;
							border-radius: 10px;
							text-align: center;
							margin-top: -70px;
							color: #fff;
							text-decoration: none;

							.experience-btn {
								color: #fff;
							}
						}

						a:hover, a:focus, a:active {
							background-color: #fff;
							color: #000;

							.experience-btn {
								color: #000;
							}
						}
					}

					p {
						max-width: 480px;
						margin: auto;
						padding: 80px 0;
					}
				}
			}
		}

		.photographs {
			background: url('../img/gallery-bg.jpg');

			.photos {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				margin: auto;
				padding: 50px 0;
				flex-wrap: wrap;

				.photo {
					flex: 0 0 20%;
					margin: auto;
					text-align: center;
					padding: 20px 0;
					font-family: $sans;
					color: #fff;

					h4 {
						margin: 0;
					}

					p {
						margin: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 670px) {
	body {
		.header {
			h1 {
				top: 20% !important;
			}

			h2 {
				top: 20% !important;
			}
		}

		.nav {
			width: 100%;
			flex-wrap: wrap;

			a {
				width: 100%;
				border-left: none !important;
				border-bottom: 1px solid #fff;
				flex: auto !important;

				&.last-link {
					margin-right: 0 !important;
				}
			}
		}
	}
}
